.search-results {
    width: 100%;
}

a {
    color: #07C;
    text-decoration: none;
}

a:hover, a:active {
    color: #3af;
}

.user-info {
    white-space: nowrap;
}

.user-avatar {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.tag {
    margin: 5px 5px 5px 0;
    padding: 4px 5px;
    color: #39739d;
    background-color: #E1ECF4;
    text-decoration: none;
    font-size: 12px;
    white-space: nowrap;
}

.tag:hover {
    color: #33658a;
    background-color: #cee0ed;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    padding: 5px;
    text-transform: capitalize;
    border-bottom: 2px solid #e4e6e8;
    cursor: pointer;
}

.sort-asc, .sort-desc {
    margin: 0 5px;
}

.sort-asc {
    display: inline-block;
    transform: rotate(180deg);
}

table tbody td {
    padding: 10px;
    border-bottom: 1px solid #e4e6e8;
}